In [7]:
import pandas as pd
import re
from datetime import datetime

## Preprocess the data

In [8]:
raw_data_path = './dataset/raw_data.csv'
wind_list_path = './dataset/wind_list.pkl'

### Preprocess the data
###     1. process birthday attribute with dropping the place of the birth in the string
###     2. process record of the performance with replacing '-' into '-1 (h0)'
###     3. extract weight and height attribute from body and drop the rows with no body information
###     4. drop some unuseful columns

raw_data = pd.read_csv(raw_data_path)
raw_data.dropna(subset=['Birth', 'Body', 'Year'], inplace=True)
raw_data['Birthday'] = raw_data['Birth'].apply(lambda x: x.split("in")[0])
raw_data.loc[raw_data['R1'] == '–', 'R1'] = '-1 (h0)'
raw_data.loc[raw_data['R2'] == '–', 'R2'] = '-1 (h0)'
raw_data.loc[raw_data['R3'] == '–', 'R3'] = '-1 (h0)'
drop_index = []
for idx in raw_data.index:
    try:
        raw_data.loc[idx, 'Height'] = int(raw_data['Body'][idx].split()[0])
        raw_data.loc[idx, 'Weight'] = int(raw_data['Body'][idx].split()[3])
    except:
        drop_index.append(idx)
raw_data.drop(index=drop_index, inplace=True)
raw_data.drop(columns=['Gold', 'Silver', 'Bronze', 'Birth', 'Body'], inplace=True)

### Process the information of wind

wind_list = pd.read_pickle(wind_list_path)
wind_dict = {}
for idx in range(len(wind_list)):
    wind_dict[1948 + idx * 4] = wind_list[idx]
print(wind_dict)

### Process the data of performance record
###     1. to make sure the data could be convert to float type
###     2. extract the heat information

raw_data['R1'] = raw_data['R1'].apply(lambda x: re.sub(r'[\[\]w]', '', x))
raw_data['R2'] = raw_data['R2'].apply(lambda x: re.sub(r'[\[\]w]', '', x))
raw_data['R3'] = raw_data['R3'].apply(lambda x: re.sub(r'[\[\]w]', '', x))

raw_data['R1'] = raw_data['R1'].apply(lambda x: re.sub('–', '-1', x))
raw_data['R2'] = raw_data['R2'].apply(lambda x: re.sub('–', '-1', x))
raw_data['R3'] = raw_data['R3'].apply(lambda x: re.sub('–', '-1', x))
raw_data['R4'] = raw_data['R4'].apply(lambda x: re.sub('–', '-1', x))
for i in raw_data.index:
    p1 = raw_data['R1'][i].find('h')
    p2 = raw_data['R2'][i].find('h')
    p3 = raw_data['R3'][i].find('h')
    raw_data.loc[i, 'heat_r1'] = int(raw_data['R1'][i][p1+1:-1])
    raw_data.loc[i, 'heat_r2'] = int(raw_data['R2'][i][p2+1:-1])
    raw_data.loc[i, 'heat_r3'] = int(raw_data['R3'][i][p3+1:-1])
    p1 = raw_data['R1'][i].find('(')
    p2 = raw_data['R2'][i].find('(')
    p3 = raw_data['R3'][i].find('(')
    p4 = raw_data['R4'][i].find('(')
    raw_data.loc[i, 'R1'] = float(raw_data['R1'][i][:p1])
    raw_data.loc[i, 'R2'] = float(raw_data['R2'][i][:p2])
    raw_data.loc[i, 'R3'] = float(raw_data['R3'][i][:p3])
    try:
        raw_data.loc[i, 'R4'] = float(raw_data['R4'][i][:p4])
    except:
        raw_data.loc[i, 'R4'] = -1


num_heat = [raw_data.groupby('Year')['heat_r1'].max(), # use to match the wind information
            raw_data.groupby('Year')['heat_r2'].max(), 
            raw_data.groupby('Year')['heat_r3'].max()]
print(raw_data)

{1948: [1.1, 0.3, 0.4, 1.3, 0.9, 1.0, 0.9, 0.3, 0.6, 3.3, 0.9, 0.2, 0.0, 1.5, 1.9, 1.5, 1.3, 1.6], 1952: [], 1956: [0.0, -1.2, -2.8, 0.0, 0.1, -0.5, -0.6, 0.0, -0.9, -1.2, -0.7, 0.0, -1.4, 0.0, -1.0, -2.2, -2.3, -1.1, -2.5], 1960: [-0.3, -0.2, -0.3, -0.2, -0.2, -0.5, -0.3, -0.1, -0.2, -0.5, -0.3, -1.3, -2.3, 0.0, 0.0, 0.0], 1964: [0.6, -2.5, -2.8, -0.7, 0.3, 1.6, -1.8, 0.2, 0.2, -0.5, 1.9, 1.7, 1.0, 1.7, 5.3, -1.3, 1.0], 1968: [2.8, 0.8, 0.0, 0.6, 0.7, 3.8, 0.4, 0.0, 0.0, 1.8, 0.5, 4.2, 2.0, 1.6, 0.0, 0.3], 1972: [-0.7, -2.3, 0.5, 2.3, 0.8, 1.2, -1.9, 2.1, 0.6, -0.3, -2.2, -0.3, 1.8, -2.3, 0.0, 3.4, 0.3, 0.0, 0.2, 0.3], 1976: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.1, 0.1, 0.1, 0.1, 1.1, 0.7, 0.0], 1980: [0.0, 0.1, 0.5, -0.2, 0.9, 0.0, -0.1, -0.1, 0.3, 1.4, 0.2, 0.3, 0.3, 0.5, 0.5, 1.2], 1984: [-0.4, 1.8, 1.8, -0.8, 1.4, 1.9, 0.8, -0.8, -1.7, -1.4, 1.4, -0.7, 0.1, 1.4, 0.8, 0.8, 0.7, -1.5, 0.2], 1988: [0.6, 0.9, 0.7, 0.8, 1.1, 1.4, 1.8, 2.0, 1.0, 1.4, 1.0, 1.4, 0.9, 1.2, 1.7, 0.9, 0.2, 1.4, 0.3, 0.6, -1.2, 1.1], 1992: [-0.1, -0.5, -0.3, -1.0, -2.0, -2.0, -1.6, -2.2, -1.6, -0.3, 0.9, -0.5, -1.7, 0.0, -1.3, -1.2, 0.5], 1996: [-0.9, 1.3, 0.1, 2.2, -0.8, 0.3, -0.3, 2.0, 0.1, -0.2, -1.6, -0.8, -0.3, 0.1, 1.1, -0.2, -1.2, -0.5, -0.6, 0.7], 2000: [-0.6, -0.6, 0.4, -0.5, -0.5, 0.2, 0.3, 1.9, -1.0, -0.7, -1.2, -1.7, 0.3, 0.8, 0.8, 0.2, 0.4, 0.2, -0.3], 2004: [-0.2, -0.4, -0.1, 0.8, 0.1, -1.1, 0.9, -0.2, -1.4, 0.7, 0.0, 0.0, 0.2, -0.1, -0.2, -1.6, 0.2, 0.6], 2008: [-0.2, 0.0, 0.0, 0.2, 0.7, 0.9, -1.4, -0.1, -1.7, -1.3, -0.1, 0.0, -0.2, 0.1, -0.1, -0.1, 0.3, 0.0], 2012: [0.9, 0.9, 1.7, 0.5, -1.4, 0.7, 1.5, 0.4, 0.0, 1.3, 2.0, 0.7, 1.0, 1.7, 1.5], 2016: [-0.2, 0.4, -0.3, -1.2, 0.8, -0.1, -0.5, 0.2, -0.8, -0.4, -1.3, 0.2, 0.2, 0.0, 0.2], 2020: [-0.2, 0.0, 0.9, 0.2, 0.3, 0.1, 0.0, 0.6, -0.4, 0.8, -0.1, -0.2, 0.9, 0.1]}
                       Name Nation     R1     R2     R3    R4  Year  \
0          Harrison Dillard    USA   10.4   10.4   10.5  10.3  1948
1              Barney Ewell    USA   10.5   10.5   10.5  10.4  1948
2             Lloyd LaBeach    PAN   10.5   10.5   10.5  10.6  1948
3     Alastair McCorquodale    GBR   10.5   10.5   10.7  -1.0  1948
4                Mel Patton    USA   10.6   10.4   10.4  -1.0  1948
...                     ...    ...    ...    ...    ...   ...   ...
1422           Hassan Saaid    MDV   10.7   -1.0   -1.0    -1  2020
1425           Arturo Rojas    BOL  10.64   -1.0   -1.0    -1  2020
1428            Didier Kiki    BEN  10.69   -1.0   -1.0    -1  2020
1437         Karalo Maibuca    TUV  11.42   -1.0   -1.0    -1  2020
1439          Chijindu Ujah    GBR   -1.0  10.08  10.11    -1  2020

               Birthday  Height  Weight  heat_r1  heat_r2  heat_r3
0          8 July 1923    178.0    69.0      5.0      1.0      1.0
1     25 February 1918    180.0    71.0      1.0      2.0      1.0
2         28 June 1922    185.0    73.0      3.0      4.0      2.0
3      5 December 1925    183.0    78.0      1.0      3.0      1.0
4     16 November 1924    185.0    72.0      2.0      3.0      2.0
...                 ...     ...     ...      ...      ...      ...
1422      4 March 1992    157.0    60.0      1.0      0.0      0.0
1425       27 May 1993    183.0    67.0      2.0      0.0      0.0
1428  30 November 1995    185.0    84.0      2.0      0.0      0.0
1437      10 June 1999    176.0    64.0      3.0      0.0      0.0
1439      5 March 1994    182.0    81.0      0.0      7.0      3.0

[1274 rows x 13 columns]

## Process the data

### Extract train data from raw data

In [9]:
train_data = pd.DataFrame(columns=['Name', 'NOC', 'Weight', 'Height', 'Birthday' , 'Year', 'Round', 'Wind', 'Label'])
for _, row in raw_data.iterrows():
    for round in range(1, 5):
        col = f'R{round}'
        if row[col] == -1:
            continue
        try:
            wind_idx = 0 if round == 1 else num_heat[round - 2][row['Year']]
            wind_idx = wind_idx + row[f'heat_r{round}'] - 1 if round != 4 else -1
            wind = wind_dict[row['Year']][int(wind_idx)]
        except:
            break
        new_row = list(row[['Name', 'Nation', 'Weight', 'Height', 'Birthday' , 'Year']])
        new_row += [round, wind, row[col]]
        train_data.loc[len(train_data)] = new_row
train_data.dropna(inplace=True)
train_data = train_data.loc[train_data['Label'] <= 11.5]
print(train_data)

                  Name  NOC  Weight  Height           Birthday  Year  Round  \
0     Harrison Dillard  USA    69.0   178.0       8 July 1923   1948      1
1     Harrison Dillard  USA    69.0   178.0       8 July 1923   1948      2
2     Harrison Dillard  USA    69.0   178.0       8 July 1923   1948      3
3     Harrison Dillard  USA    69.0   178.0       8 July 1923   1948      4
4         Barney Ewell  USA    71.0   180.0  25 February 1918   1948      1
...                ...  ...     ...     ...                ...   ...    ...
2143      Arturo Rojas  BOL    67.0   183.0       27 May 1993   2020      1
2144       Didier Kiki  BEN    84.0   185.0  30 November 1995   2020      1
2145    Karalo Maibuca  TUV    64.0   176.0      10 June 1999   2020      1
2146     Chijindu Ujah  GBR    81.0   182.0      5 March 1994   2020      2
2147     Chijindu Ujah  GBR    81.0   182.0      5 March 1994   2020      3

      Wind  Label
0      0.9  10.40
1      0.0  10.40
2      0.9  10.50
3      1.6  10.30
4      1.1  10.50
...    ...    ...
2143   0.0  10.64
2144   0.0  10.69
2145   0.9  11.42
2146   0.8  10.08
2147   0.8  10.11

[2106 rows x 9 columns]

### Process the train data

In [10]:
import calendar
olympic_list = {
    1948: ['GBR', '19480730'],
    1952: ['FIN', '19520721'],
    1956: ['AUS', '19561123'],
    1960: ['ITA', '19600831'],
    1964: ['JPN', '19641014'],
    1968: ['MEX', '19681013'], 
    1972: ['GER', '19720831'],
    1976: ['CAN', '19760723'],
    1980: ['URS', '19800724'],
    1984: ['USA', '19840803'],
    1988: ['KOR', '19880923'],
    1992: ['ESP', '19920731'],
    1996: ['USA', '19960726'],
    2000: ['AUS', '20000922'],
    2004: ['GRE', '20040821'],
    2008: ['CHN', '20080815'],
    2012: ['GBR', '20120804'],
    2016: ['BRA', '20160813'],
    2020: ['JPN', '20210731'],
}



drop_index = []
for idx, row in train_data.iterrows():
    birthday = row['Birthday']
    try:
        month = birthday.split()[1]
    except:
        drop_index.append(idx)
        continue
    birthday = birthday.replace(month, str(list(calendar.month_name).index(month)))
    while birthday[-1] == ' ':
        birthday = birthday[:-1]
    birthday = datetime.strptime(birthday, "%d %m %Y")
    train_data.loc[idx, "Age"] = (datetime.strptime(olympic_list[row['Year']][1], "%Y%m%d") - birthday).days / 365.25
    train_data.loc[idx, "isHometown"] = int(row['NOC'] == olympic_list[row['Year']][0])
    train_data.loc[idx, "BMI"] = row['Weight'] * 10000 / row['Height'] / row['Height']
train_data.drop(index=drop_index, inplace=True)
train_data.dropna(inplace=True)
nation_cnt = dict(train_data.groupby(by=['NOC']).count()['Label'].sort_values(ascending=False))
nation_list = {}
nation_index = 0
for k, i in nation_cnt.items():
    nation_list[k] = nation_index
    nation_index += 1
print(nation_list)
train_data['Nation'] = train_data['NOC'].apply(lambda x: nation_list[x])

train_data_path = './dataset/train_data.csv'
cols = ['Name', 'Age', 'Nation', 'Weight', 'Height', 'BMI', 'Year', 'Round', 'Wind', 'isHometown', 'Label']
train_data = train_data[cols]
train_data.to_csv(train_data_path, index=False)
train_data

{'USA': 0, 'GBR': 1, 'JAM': 2, 'FRA': 3, 'CAN': 4, 'NGR': 5, 'TTO': 6, 'BRA': 7, 'URS': 8, 'POL': 9, 'JPN': 10, 'GHA': 11, 'CUB': 12, 'AUS': 13, 'BAH': 14, 'ITA': 15, 'GDR': 16, 'GER': 17, 'CIV': 18, 'FRG': 19, 'CHN': 20, 'SKN': 21, 'BAR': 22, 'HUN': 23, 'SEN': 24, 'ESP': 25, 'INA': 26, 'VEN': 27, 'KEN': 28, 'GRE': 29, 'RSA': 30, 'BEL': 31, 'POR': 32, 'CMR': 33, 'NAM': 34, 'BUL': 35, 'PAN': 36, 'UGA': 37, 'PAK': 38, 'QAT': 39, 'CGO': 40, 'SUR': 41, 'ANT': 42, 'TPE': 43, 'GAM': 44, 'THA': 45, 'ISV': 46, 'CYP': 47, 'DOM': 48, 'SUI': 49, 'AHO': 50, 'SGP': 51, 'UKR': 52, 'MDV': 53, 'BER': 54, 'IRI': 55, 'MAS': 56, 'PUR': 57, 'BUR': 58, 'NOR': 59, 'MAD': 60, 'LBR': 61, 'SLE': 62, 'KOR': 63, 'KSA': 64, 'MLI': 65, 'TGA': 66, 'ZAM': 67, 'OMA': 68, 'RUS': 69, 'NZL': 70, 'BAN': 71, 'CHI': 72, 'GAB': 73, 'NED': 74, 'BEN': 75, 'ARG': 76, 'AUT': 77, 'ISL': 78, 'CAY': 79, 'MRI': 80, 'SWE': 81, 'MEX': 82, 'FIJ': 83, 'GUI': 84, 'TCH': 85, 'KAZ': 86, 'LES': 87, 'PHI': 88, 'EUN': 89, 'COL': 90, 'GBS': 91, 'GUY': 92, 'HAI': 93, 'HKG': 94, 'TUR': 95, 'URU': 96, 'BOL': 97, 'PLW': 98, 'MLT': 99, 'SEY': 100, 'ESA': 101, 'BRN': 102, 'FIN': 103, 'FSM': 104, 'AZE': 105, 'ZIM': 106, 'TAN': 107, 'SLO': 108, 'KUW': 109, 'MTN': 110, 'PNG': 111, 'ANG': 112, 'ASA': 113, 'ISR': 114, 'VAN': 115, 'IND': 116, 'CAF': 117, 'COK': 118, 'LAO': 119, 'COM': 120, 'SRI': 121, 'SOL': 122, 'SMR': 123, 'TOG': 124, 'IVB': 125, 'SWZ': 126, 'ROU': 127, 'STP': 128, 'VIE': 129, 'WIF': 130, 'SUD': 131, 'AFG': 132, 'HON': 133, 'BOT': 134, 'GEQ': 135, 'GUA': 136, 'PER': 137, 'IRL': 138, 'IRQ': 139, 'LBN': 140, 'ETH': 141, 'BRU': 142, 'LIE': 143, 'BIZ': 144, 'MKD': 145, 'NCA': 146, 'MON': 147, 'MAW': 148, 'CAM': 149, 'ARU': 150, 'CRC': 151, 'CRO': 152, 'CZE': 153, 'UZB': 154, 'VIN': 155, 'TUV': 156, 'ECU': 157, 'ALG': 158, 'EGY': 159, 'ALB': 160, 'EST': 161, 'PLE': 162, 'GEO': 163, 'LUX': 164, 'PAR': 165, 'NEP': 166, 'MOZ': 167, 'MGL': 168, 'MAR': 169, 'MAL': 170, 'LTU': 171, 'GRN': 172, 'LCA': 173, 'LAT': 174, 'KIR': 175, 'JOR': 176, 'SVK': 177, 'GUM': 178, 'KGZ': 179}

,Name,Age,Nation,Weight,Height,BMI,Year,Round,Wind,isHometown,Label
0,Harrison Dillard,25.062286,0,69.0,178.0,21.777553,1948,1,0.9,0.0,10.40
1,Harrison Dillard,25.062286,0,69.0,178.0,21.777553,1948,2,0.0,0.0,10.40
2,Harrison Dillard,25.062286,0,69.0,178.0,21.777553,1948,3,0.9,0.0,10.50
3,Harrison Dillard,25.062286,0,69.0,178.0,21.777553,1948,4,1.6,0.0,10.30
4,Barney Ewell,30.425736,0,71.0,180.0,21.913580,1948,1,1.1,0.0,10.50
...,...,...,...,...,...,...,...,...,...,...,...
2143,Arturo Rojas,28.177960,97,67.0,183.0,20.006569,2020,1,0.0,0.0,10.64
2144,Didier Kiki,25.667351,75,84.0,185.0,24.543462,2020,1,0.0,0.0,10.69
2145,Karalo Maibuca,22.140999,156,64.0,176.0,20.661157,2020,1,0.9,0.0,11.42
2146,Chijindu Ujah,27.405886,1,81.0,182.0,24.453568,2020,2,0.8,0.0,10.08
2147,Chijindu Ujah,27.405886,1,81.0,182.0,24.453568,2020,3,0.8,0.0,10.11