In [42]:
import pandas as pd
import re
import numpy as np

In [43]:
raw_data_path = './new_dataset/raw_data.csv'
raw_data = pd.read_csv(raw_data_path)
raw_data.dropna(subset=['Birth', 'Body', 'Year'], inplace=True)
raw_data['Birthday'] = raw_data['Birth'].apply(lambda x: x.split()[:3])
raw_data.loc[raw_data['R2'] == 'â€“', 'R2'] = '-1 (h0)'
raw_data.loc[raw_data['R3'] == 'â€“', 'R3'] = '-1 (h0)'
drop_index = []
for idx in raw_data.index:
    try:
        raw_data.loc[idx, 'Weight'] = int(raw_data['Body'][idx].split()[0])
        raw_data.loc[idx, 'Height'] = int(raw_data['Body'][idx].split()[3])
    except:
        drop_index.append(idx)
raw_data.drop(index=drop_index, inplace=True)
raw_data.drop(columns=['Gold', 'Silver', 'Bronze', 'Birth', 'Body'], inplace=True)

wind_list_path = './new_dataset/wind_list.pkl'
wind_list = pd.read_pickle(wind_list_path)
wind_dict = {}
for idx in range(len(wind_list)):
    wind_dict[1948 + idx * 4] = wind_list[idx]
print(wind_dict)

raw_data['R1'] = raw_data['R1'].apply(lambda x: re.sub(r'[\[\]w]', '', x))
raw_data['R2'] = raw_data['R2'].apply(lambda x: re.sub(r'[\[\]w]', '', x))
raw_data['R3'] = raw_data['R3'].apply(lambda x: re.sub(r'[\[\]w]', '', x))

raw_data['R1'] = raw_data['R1'].apply(lambda x: re.sub('â€“', '-1', x))
raw_data['R2'] = raw_data['R2'].apply(lambda x: re.sub('â€“', '-1', x))
raw_data['R3'] = raw_data['R3'].apply(lambda x: re.sub('â€“', '-1', x))
raw_data['R4'] = raw_data['R3'].apply(lambda x: re.sub('â€“', '-1', x))
for i in raw_data.index:
    p1 = raw_data['R1'][i].find('h')
    p2 = raw_data['R2'][i].find('h')
    p3 = raw_data['R3'][i].find('h')
    raw_data.loc[i, 'heat_r1'] = int(raw_data['R1'][i][p1+1:-1])
    raw_data.loc[i, 'heat_r2'] = int(raw_data['R2'][i][p2+1:-1])
    raw_data.loc[i, 'heat_r3'] = int(raw_data['R3'][i][p3+1:-1])
    p1 = raw_data['R1'][i].find('(')
    p2 = raw_data['R2'][i].find('(')
    p3 = raw_data['R3'][i].find('(')
    p4 = raw_data['R4'][i].find('(')
    raw_data.loc[i, 'R1'] = float(raw_data['R1'][i][:p1])
    raw_data.loc[i, 'R2'] = float(raw_data['R2'][i][:p2])
    raw_data.loc[i, 'R3'] = float(raw_data['R3'][i][:p3])
    raw_data.loc[i, 'R4'] = float(raw_data['R4'][i][:p3])


num_heat = [raw_data.groupby('Year')['heat_r1'].max(), 
            raw_data.groupby('Year')['heat_r2'].max(), 
            raw_data.groupby('Year')['heat_r3'].max()]
raw_data

{1948: [1.1, 0.3, 0.4, 1.3, 0.9, 1.0, 0.9, 0.3, 0.6, 3.3, 0.9, 0.2, 0.0, 1.5, 1.9, 1.5, 1.3, 1.6], 1952: [], 1956: [0.0, -1.2, -2.8, 0.0, 0.1, -0.5, -0.6, 0.0, -0.9, -1.2, -0.7, 0.0, -1.4, 0.0, -1.0, -2.2, -2.3, -1.1, -2.5], 1960: [-0.3, -0.2, -0.3, -0.2, -0.2, -0.5, -0.3, -0.1, -0.2, -0.5, -0.3, -1.3, -2.3, 0.0, 0.0, 0.0], 1964: [0.6, -2.5, -2.8, -0.7, 0.3, 1.6, -1.8, 0.2, 0.2, -0.5, 1.9, 1.7, 1.0, 1.7, 5.3, -1.3, 1.0], 1968: [2.8, 0.8, 0.0, 0.6, 0.7, 3.8, 0.4, 0.0, 0.0, 1.8, 0.5, 4.2, 2.0, 1.6, 0.0], 1972: [-0.7, -2.3, 0.5, 2.3, 0.8, 1.2, -1.9, 2.1, 0.6, -0.3, -2.2, -0.3, 1.8, -2.3, 0.0, 3.4, 0.3, 0.0, 0.2, 0.3], 1976: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.1, 0.1, 0.1, 0.1, 1.1, 0.7, 0.0], 1980: [0.0, 0.1, 0.5, -0.2, 0.9, 0.0, -0.1, -0.1, 0.3, 1.4, 0.2, 0.3, 0.3, 0.5, 0.5, 1.2], 1984: [-0.4, 1.8, 1.8, -0.8, 1.4, 1.9, 0.8, -0.8, -1.7, -1.4, 1.4, -0.7, 0.1, 1.4, 0.8, 0.8, 0.7, -1.5, 0.2], 1988: [0.6, 0.9, 0.7, 0.8, 1.1, 1.4, 1.8, 2.0, 1.0, 1.4, 1.0, 1.4, 0.9, 1.2, 1.7, 0.9, 0.2, 1.4, 0.3, 0.6, -1.2, 1.1], 1992: [-0.1, -0.5, -0.3, -1.0, -2.0, -2.0, -1.6, -2.2, -1.6, -0.3, 0.9, -0.5, -1.7, 0.0, -1.3, -1.2, 0.5], 1996: [-0.9, 1.3, 0.1, 2.2, -0.8, 0.3, -0.3, 2.0, 0.1, -0.2, -1.6, -0.8, -0.3, 0.1, 1.1, -0.2, -1.2, -0.5, -0.6, 0.7], 2000: [-0.6, -0.6, 0.4, -0.5, -0.5, 0.2, 0.3, 1.9, -1.0, -0.7, -1.2, -1.7, 0.3, 0.8, 0.8, 0.2, 0.4, 0.2, -0.3], 2004: [-0.2, -0.4, -0.1, 0.8, 0.1, -1.1, 0.9, -0.2, -1.4, 0.7, 0.0, 0.0, 0.2, -0.1, -0.2, -1.6, 0.2, 0.6], 2008: [-0.2, 0.0, 0.0, 0.2, 0.7, 0.9, -1.4, -0.1, -1.7, -1.3, -0.1, 0.0, -0.2, 0.1, -0.1, -0.1, 0.3, 0.0], 2012: [0.9, 0.9, 1.7, 0.5, -1.4, 0.7, 1.5, 0.4, 0.0, 1.3, 2.0, 0.7, 1.0, 1.7, 1.5], 2016: [-0.2, 0.4, -0.3, -1.2, 0.8, -0.1, -0.5, 0.2, -0.8, -0.4, -1.3, 0.2, 0.2, 0.0, 0.2], 2020: []}

,Name,Nation,R1,R2,R3,R4,Year,Birthday,Weight,Height,heat_r1,heat_r2,heat_r3
0,Harrison Dillard,USA,10.4,10.4,10.5,10.5,1948,"[8, July, 1923]",178.0,69.0,5.0,1.0,1.0
1,Barney Ewell,USA,10.5,10.5,10.5,10.5,1948,"[25, February, 1918]",180.0,71.0,1.0,2.0,1.0
2,Lloyd LaBeach,PAN,10.5,10.5,10.5,10.5,1948,"[28, June, 1922]",185.0,73.0,3.0,4.0,2.0
3,Alastair McCorquodale,GBR,10.5,10.5,10.7,10.7,1948,"[5, December, 1925]",183.0,78.0,1.0,3.0,1.0
4,Mel Patton,USA,10.6,10.4,10.4,10.4,1948,"[16, November, 1924]",185.0,72.0,2.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,Masoud Azizi,AFG,11.45,-1.0,-1.0,-1.0,2008,"[2, February, 1985]",168.0,64.0,4.0,0.0,0.0
1199,Souksavanh Tonsacktheva,LAO,11.51,-1.0,-1.0,-1.0,2008,"[12, August, 1988]",158.0,56.0,6.0,0.0,0.0
1200,Reginaldo Ndong,GEQ,11.61,-1.0,-1.0,-1.0,2008,"[14, October, 1986]",165.0,76.0,7.0,0.0,0.0
1201,Mohamed Abu Abdullah,BAN,11.07,-1.0,-1.0,-1.0,2008,"[1, March, 1981]",173.0,74.0,8.0,0.0,0.0
1203,Samuel Francis,QAT,10.4,10.11,10.2,10.2,2008,"[27, March, 1987]",180.0,85.0,9.0,3.0,1.0

In [59]:
train_data = pd.DataFrame(columns=['Name', 'NOC', 'Weight', 'Height', 'Birthday' , 'Year', 'Round', 'Wind', 'Labels'])
for _, row in raw_data.iterrows():
    for round in range(1, 5):
        col = f'R{round}'
        if row[col] == -1:
            break
        try:
            wind_idx = 0 if round == 1 else num_heat[round - 2][row['Year']]
            wind_idx = wind_idx + row[f'heat_r{round}'] - 1 if round != 4 else -1
            wind = wind_dict[row['Year']][int(wind_idx)]
        except:
            break
        new_row = list(row[['Name', 'Nation', 'Weight', 'Height', 'Birthday' , 'Year']])
        new_row += [round, wind, row[col]]
        train_data.loc[len(train_data)] = new_row
train_data

,Name,NOC,Weight,Height,Birthday,Year,Round,Wind,Labels
0,Harrison Dillard,USA,178.0,69.0,"[8, July, 1923]",1948,1,0.9,10.40
1,Harrison Dillard,USA,178.0,69.0,"[8, July, 1923]",1948,2,0.0,10.40
2,Harrison Dillard,USA,178.0,69.0,"[8, July, 1923]",1948,3,0.9,10.50
3,Harrison Dillard,USA,178.0,69.0,"[8, July, 1923]",1948,4,1.6,10.50
4,Barney Ewell,USA,180.0,71.0,"[25, February, 1918]",1948,1,1.1,10.50
...,...,...,...,...,...,...,...,...,...
1984,Mohamed Abu Abdullah,BAN,173.0,74.0,"[1, March, 1981]",2008,1,-0.1,11.07
1985,Samuel Francis,QAT,180.0,85.0,"[27, March, 1987]",2008,1,-1.7,10.40
1986,Samuel Francis,QAT,180.0,85.0,"[27, March, 1987]",2008,2,-0.2,10.11
1987,Samuel Francis,QAT,180.0,85.0,"[27, March, 1987]",2008,3,0.9,10.20
1988,Samuel Francis,QAT,180.0,85.0,"[27, March, 1987]",2008,4,0.0,10.20