In [8]:
import pandas as pd

In [9]:
athlete_data_path = './dataset/athlete/athlete_data.csv'
record_data_path = './dataset/record/record_data.csv'
athlete_data = pd.read_csv(athlete_data_path)
record_data = pd.read_csv(record_data_path)
print(athlete_data)
print(record_data)

                                Name  Height  Weight  NOC  Year
0                 Ronald "Ron" Jones   180.0    78.0  GBR  1968
1                   Jocelyn Delecour   175.0    67.0  FRA  1968
2                         Amos Omolo   178.0    74.0  UGA  1968
3     Thomas Augustus "Tom" Robinson   180.0    82.0  BAH  1968
4                  Wiesaw Jan Maniak   171.0    74.0  POL  1968
...                              ...     ...     ...  ...   ...
1816                   Zhendong Wang   180.0    55.0  CHN  2016
1817                      Zhenye Xie   184.0    78.0  CHN  2016
1818              Zigismunds Sirmais   190.0    95.0  LAT  2016
1819                   Zoltan Kovago   204.0   132.0  HUN  2016
1820                   Zouhair Aouad   175.0    69.0  BRN  2016

[1821 rows x 5 columns]
     WIND                  Competitor        Age    Year  Month  Labels  \
0     0.6                Pablo MONTES  22.888433  1968.0   10.0   10.14
1     0.5              Hermes RAMÍREZ  20.766598  1968.0   10.0   10.10
2     2.0  Jean-Louis RAVELOMAMANTSOA  25.541410  1968.0   10.0   10.18
3     2.0               Harald EGGERS  26.269678  1968.0   10.0   10.25
4     2.0                Gaossou KONE  24.459959  1968.0   10.0   10.22
..    ...                         ...        ...     ...    ...     ...
539   0.2                  Usain BOLT  29.982204  2016.0    8.0    9.86
540   0.2                Jimmy VICAUT  24.462697  2016.0    8.0    9.95
541   0.2               Akani SIMBINE  22.896646  2016.0    8.0    9.98
542   0.0               James DASAOLU  28.941821  2016.0    8.0   10.16
543   0.2             Trayvon BROMELL  21.097878  2016.0    8.0   10.06

     Hometown  Nation  NOC
0           0       8  CUB
1           0       8  CUB
2           0       0  MAD
3           0      11  GDR
4           0       7  CIV
..        ...     ...  ...
539         0      13  JAM
540         0       9  FRA
541         0       0  RSA
542         0      10  GBR
543         0      21  USA

[544 rows x 9 columns]

In [10]:
merge_data = athlete_data.merge(record_data, how='inner', on=['NOC', 'Year'])
merge_data_path = './dataset/merge_data.csv'
merge_data.to_csv(merge_data_path, index=False)

In [11]:
train_data = []
for i in merge_data.index:
    left_name = merge_data['Name'][i].replace('"',  '').split()
    right_name = merge_data['Competitor'][i].split()
    for word in left_name:
        if word in right_name:
            train_data.append(merge_data.loc[i])
train_data = pd.DataFrame(train_data)
train_data.drop(columns=['Name', 'NOC'], inplace=True)
train_data['BMI'] = train_data['Weight'] * 10000 / train_data['Height'] / train_data['Height']
cols = ['Competitor', 'Age', 'Height', 'Weight', 'BMI', 'Nation', 'Year', 'Month', 'Hometown', 'WIND', 'Labels']
train_data = train_data[cols]
train_data.drop_duplicates(inplace=True)
train_data

,Competitor,Age,Height,Weight,BMI,Nation,Year,Month,Hometown,WIND,Labels
3,Mel PENDER,30.951403,165.0,68.0,24.977043,21,1968,10.0,0,0.5,10.16
8,Mel PENDER,30.954141,165.0,68.0,24.977043,21,1968,10.0,0,0.3,10.17
9,Mel PENDER,30.954141,165.0,68.0,24.977043,21,1968,10.0,0,1.6,10.21
14,Enrique FIGUEROLA,30.247775,167.0,67.0,24.023809,8,1968,10.0,0,1.8,10.23
15,Enrique FIGUEROLA,30.250513,167.0,67.0,24.023809,8,1968,10.0,0,1.6,10.23
...,...,...,...,...,...,...,...,...,...,...,...
2365,Usain BOLT,29.982204,196.0,95.0,24.729279,13,2016,8.0,0,0.2,9.81
2367,Usain BOLT,29.982204,196.0,95.0,24.729279,13,2016,8.0,0,0.2,9.86
2428,Yoshihide KIRYU,20.662560,175.0,69.0,22.530612,14,2016,8.0,0,-0.4,10.23
2481,Zhenye XIE,22.989733,184.0,78.0,23.038752,6,2016,8.0,0,-0.1,10.08
2482,Zhenye XIE,22.992471,184.0,78.0,23.038752,6,2016,8.0,0,0.2,10.11

In [12]:
train_data_path = './dataset/train_data.csv'
train_data.to_csv(train_data_path, index=False)